pandas>=2.0,<3
numpy>=1.24,<3

google-api-python-client>=2.120,<3
google-auth>=2.25,<3
google-auth-httplib2>=0.2,<1
google-auth-oauthlib>=1.2,<2

mysql-connector-python>=8.0,<9
python-dotenv>=1.0,<2

tornado>=6.3,<7
tqdm>=4.66,<5
